In [1]:
from sklearn import datasets
import pandas as pd
boston=datasets.load_boston()
bos=pd.DataFrame(boston.data)
bos.columns=boston.feature_names

In [2]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
#normalizing the data
from scipy import stats
import numpy as np
#z=np.abs(stats.zscore(bos))
#threshold=3
bos=pd.DataFrame(np.abs(stats.zscore(bos)))
#bos=bos[(z<3).all(axis=1)]
bos.columns=boston.feature_names
bos["PRICE"]=boston.target
bos["PRICE"]=np.abs(stats.zscore(bos))

In [4]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.419782,0.284830,1.287909,0.272599,0.144217,0.413672,0.120013,0.140214,0.982843,0.666608,1.459000,0.441052,1.075562,0.164882
1,0.417339,0.487722,0.593381,0.272599,0.740262,0.194274,0.367166,0.557160,0.867883,0.987329,0.303094,0.441052,0.492439,0.167823
2,0.417342,0.487722,0.593381,0.272599,0.740262,1.282714,0.265812,0.557160,0.867883,0.987329,0.303094,0.396427,1.208727,0.167820
3,0.416750,0.487722,1.306878,0.272599,0.835284,1.016303,0.809889,1.077737,0.752922,1.106115,0.113032,0.416163,1.361517,0.168532
4,0.412482,0.487722,1.306878,0.272599,0.835284,1.228577,0.511180,1.077737,0.752922,1.106115,0.113032,0.441052,1.026501,0.173670

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
LinearReg=LinearRegression()
Y=bos["PRICE"]
X=bos.drop(bos[["PRICE"]],axis="columns")

In [6]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=0)
type(bos)

pandas.core.frame.DataFrame

In [7]:
LinearReg.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
y_pred=LinearReg.predict(xtest)

In [9]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ytest,y_pred)

0.05045853674506077